<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>{{pageTitle}}</title>
    </head>
    <body>
	<h1>{{pageTitle}}</h1>
	<main>
        {{#unless landing}}
        <a href="/">Main page</a>
        <a href="/users">User Profiles</a>
        <a href="/characters">Character Profiles</a>
        {{/unless}}
	    {{{body}}}
	</main>
    </body>
</html>