html {
    background-color: lightgrey;
}

#matchTable {    
    margin-top: 20px;
    border-collapse: collapse;
}

#matchTable td, #matchTable th {
    border: solid black 1px;
}

#matchTable p, #matchTable a {
    margin: 0px;
}

tr:nth-child(even){background-color: #f2f2f2;}

#matchTable tr:hover {background-color: #ddd;}

#matchTable th {
    background-color: lightcoral;
    min-width: 100px;
}

#characterList {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

#characterList td {
    font-size: 29px;
}

#characterList tr.row td{
    border-collapse: collapse;
    border: solid black 1px;
    width: 318px;
}

#characterList th {
    background-color: lightcoral;
    border: solid black 1px;
}

#userList {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

#userList tr.row td{
    border-collapse: collapse;
    border: solid black 1px;
    min-width: 120px;
}

#userList th {
    background-color: lightcoral;
    border: solid black 1px;
}

#tournamentTable {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

#tournamentTable tr td{
    border-collapse: collapse;
    border: solid black 1px;
    width: 230px;
}

#tournamentTable th {
    background-color: lightcoral;
    border: solid black 1px;
}

table.standings {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

table.standings tr td{
    border-collapse: collapse;
    border: solid black 1px;
}

table.standings th {
    background-color: lightcoral;
    border: solid black 1px;
}

table.standings td.Player{
    font-size: 20px;
}

table.character {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

table.character tr td{
    border-collapse: collapse;
    border: solid black 1px;
}

table.character th {
    background-color: lightcoral;
    border: solid black 1px;
}

table.opponent {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

table.opponent tr td{
    border-collapse: collapse;
    border: solid black 1px;
}

table.opponent th {
    background-color: lightcoral;
    border: solid black 1px;
}

table.winloss {
    border-collapse: collapse;
    margin-top: 20px;
    border: solid black 1px;
}

table.winloss tr td{
    border-collapse: collapse;
    border: solid black 1px;
    min-width: 100px;
    text-align: center;
}

table.winloss th {
    background-color: lightcoral;
    border: solid black 1px;
}

a.header {
    padding-left: 10px;
    padding-right: 10px;
}

fieldset.small {
    display: inline;
    width: 250px;
    border: none;
    padding: 0%;
}

fieldset.large {
    display: inline;
    width: 320px;
    border: none;
    padding: 0%;
}

fieldset input{
    float: right;
}

#title {
    font-family: Impact;
    text-align: center;
}

div.links {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

div.links a.header {
    background-color: lightblue;
    border: solid black 1px;
}

img.vs {
    padding-bottom: 100px;
}

div.home{
    text-align: center;
}

div.home img {
    height: auto; 
    width: auto; 
    max-width: 866px; 
}

p.error {
    color: #bb0000;
}

dl.matchComments {
    font-size: 18px;
}

dl.matchComments dd{
    margin-bottom: 15px;
}