<h1>This has the list of all characters</h1>
<script src="/public/js/tablesorts.js"></script>
<table>
    <th class="sortButton">ID</th>
    <th class="sortButton">Name</th>
    {{#each characters}}
        <tr class="characterRow">
            <td class="ID">{{this.id}}</td>
            <td class="Name"><a href="/characters/{{this.name}}">{{this.name}}</a></td>
        </tr>
    {{/each}}   
</table>