<script src="/public/js/tablesorts.js"></script>
<script src="/public/js/tablesearch.js"></script>
<form class="searchForm">
    <label for="search_term">Search Term</label>
    <input type="text" name ="search_term" id="search_term">
    <button class="search">Search</button>
</form>
<button class="clearResults" hidden="true">Clear Results</button>
<table id="characterList">
    <tr class="header">
        <th class="sortButton">Name</th>
    </tr>
    {{#each characters}}
        <tr class="row">
            <td class="Name"><img src="../../public/imageheads/{{this.abrvName}}.png"><a href="/characters/{{this.abrvName}}">{{this.displayName}}</a></td>
        </tr>
    {{/each}}
</table>
<label class="noResult" hidden="true">There are no results, please try again with a different query</label>