<script src="/public/js/tablesorts.js"></script>
<script src="/public/js/tablesearch.js"></script>
<form class="searchForm">
    <label for="search_term">Search Term</label>
    <input type="text" name ="search_term" id="search_term">
    <button class="search">Search</button>
</form>
<button class="clearResults" hidden>Clear Results</button>
<table id = "tournamentTable">
    <tr class="header">
        <th class="sortButton">Name</th>
    </tr>
    {{#each matches}}
    <tr class="tournament">
        <td class="Name">
            <a href="../tournaments/{{this._id}}">{{this.name}}</a>
        </td>
    </tr>    
    {{/each}}
</table>
<label class="noResult" hidden>There are no results, please try again with a different query</label>