<h1>{{match.winner}} ({{match.winnerPlayedDisplay}}) defeated {{match.loser}} ({{match.loserPlayedDisplay}})</h1>
<script src="/public/js/comment.js"></script>
<form class="addComment">
    <label for="poster">Poster</label>
    <input type="text" name ="poster" id="poster">

    <label for="comment">Comment</label>
    <input type="text" name ="comment" id="comment">
    <button class="submit">Submit</button>
</form>